<div class="content">
  <div>
    <div class="title">Your Profiles</div>
    <div class="subtitle">Here's a list of your submitted profiles</div>
    <div *ngIf="!loading" class="profile-list">
      <table style="width:100%">
        <tr>
          <td>Name</td>
          <td>Job Title</td>
          <td>Notes</td>
          <td>File</td>
        </tr>
        <tr *ngFor="let profile of profiles" >
          <td>{{profile.getFirstName()}} {{profile.getLastName()}}</td>
          <td>{{profile.getJobTitle()}}</td>
          <td>{{profile.getNotes()}}</td>
          <td>
            <a (click)="viewPdf(profile.getcvPath())" class="pdf-button">View PDF</a>
          </td>
        </tr>
        <tr *ngIf="profiles.length === 0" >
          <td colspan="3">No submissions yet</td>
        </tr>
      </table>
    </div>
    <div *ngIf="error" class="error-message">
      Error loading the profiles
     </div>
    <div class="options">
      <div>
        <a (click)="goBack()" class="back-button">Go Back</a>
      </div>
    </div>
  </div>
</div>

